@mixin CaracteristicasHeaders ($direccionHeaderPags, $contenidoHeaderPags, $tamanoFuenteHeaderPags) {
    flex-direction: $direccionHeaderPags;
    justify-content: $contenidoHeaderPags;
    font-size: $tamanoFuenteHeaderPags;
}