$bg-estilo: antiquewhite;
$estilo-h1: 'Oswald', sans-serif;
$estilo-textos: 'Varela Round', sans-serif; 

/*del mixin*/
$direccionHeaderPags: row;
$contenidoHeaderPags: flex-start;
$tamanoFuenteHeaderPags: 30px;