* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: $bg-estilo;
    line-height: 1.5;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    display: block;
}

ul {
    margin-top: 0;
}


.containerDos {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "nav"
        "parrafo"
        "video"
        "footer";

    .header {
        grid-area: header;
        display: block;

        .headerPaginas {
            font-family: $estilo-h1;
            @extend %displayrepetido;
            @include CaracteristicasHeaders ($direccionHeaderPags, $contenidoHeaderPags, $tamanoFuenteHeaderPags);
            text-align: map-get($mapalaempresa, texto-centrado);
            color: map-get($mapalaempresa, color-header);
        }
    }
}

.nav {
    grid-area: nav;
    padding: 2%;
    @extend %displayrepetido;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 0;
    list-style: none;
    background-color: map-get($mapalaempresa, color-nav);

    li {
        display: list-item;
        font-family: $estilo-textos;
        font-size: 20px;

        a {
            display: block;
            padding: 0.5rem 1rem;
            color: #0d6efd;
            text-decoration: none;

            &:hover {
                transform: scale(1.2);
                transition: all 0.5s;
            }
        }
    }
}

.parrafo {
    grid-area: parrafo;
    padding: 3%;
    font-size: 25px;
    text-align: map-get($mapalaempresa, texto-centrado);

    p {
        font-family: $estilo-textos;
        margin: 0px;
        display: block;
    }
}

.videosCables {
    @extend %displayrepetido;
    justify-content: center;

    iframe {
        margin: 2%;
        border: 0;
        width: 560px;
        height: 315px;
    }
}

.footer {
    grid-area: footer;
    font-size: 20px;
    background-color: map-get($mapalaempresa, color-footer);
    display: flex;

    footer {
        display: flex;

        .divsDelFooter {
            margin: 1% 2%;
            text-align: map-get($mapalaempresa, texto-izquierda);
            display: block;

            p {
                font-family: $estilo-textos;
                margin: 0px;
            }
        }
    }
}